@import '~office-ui-fabric-react/dist/sass/References.scss';

.minesweeper {

  //CSS Reset
  margin: 0px;
  padding: 0px;

  border: 1px solid black;

  .container {
    width: 90%;
    background-color: lightskyblue;
    margin: auto;
  }

  .wrapper {

    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
    padding-bottom: 20px;
  }

  .dashboard {
    border: 1px solid purple;
    place-content: center;
  }

  
 
  


  




  .gridContainer1 {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
   } 






 


}
